In [1]:
import pandas as pd
import os
import itertools
from itertools import product
import numpy as np
import re 

os.getcwd()

'C:\\Users\\nschw\\OneDrive\\QSS 20\\final project'

In [2]:
bw_data = pd.read_csv("rbw_csv.csv")
cmp_data = pd.read_csv("rcmp_csv.csv")

In [3]:
bw_data = bw_data.iloc[1:,:]
bw_data

cmp_data = cmp_data.iloc[1:,:]
cmp_data

,Unnamed: 0,st_cd,ld_dt_year,h2a_cmp_assd_amt,h2a_cmp_assd_amt.1,h2a_cmp_assd_amt.2,h2a_violtn_cnt,total_employment
1,0.0,AL,2015.0,3547.272727,39020,11,177,242
2,1.0,AL,2016.0,1371.428571,9600,7,13,154
3,2.0,AL,2017.0,4500,18000,4,25,88
4,3.0,AL,2018.0,4200,25200,6,84,132
5,4.0,AL,2019.0,1699.371429,11895.6,7,35,159
...,...,...,...,...,...,...,...,...
252,251.0,WV,2020.0,4224.425,16897.7,4,23,24
253,252.0,WY,2015.0,7795,77950,10,111,10
254,253.0,WY,2016.0,1500,4500,3,24,2
255,254.0,WY,2017.0,900,900,1,1,1
256,255.0,WY,2020.0,0,0,1,2,1

In [4]:
bw_regression_data = bw_data.set_index(["st_cd", "ld_dt_year"])
bw_regression_data["backwages"] = [float(bw_regression_data.h2a_bw_atp_amt.iloc[i])/float(bw_regression_data.h2a_violtn_cnt.iloc[i]) for i in range(len(bw_regression_data.index))]
bw_regression_data["total_employment"] = [int(bw_regression_data.total_employment.iloc[i]) for i in range(len(bw_regression_data.total_employment))]
bw_regression_data

                  Unnamed: 0 h2a_bw_atp_amt h2a_bw_atp_amt.1 h2a_bw_atp_amt.2  \
st_cd ld_dt_year
AL    2015.0             0.0    3315.402727         36469.43               11
      2016.0             1.0              0                0                7
      2017.0             2.0         6017.9          24071.6                4
      2018.0             3.0    294.0466667          1764.28                6
      2019.0             4.0    2682.235714         18775.65                7
...                      ...            ...              ...              ...
WV    2020.0           251.0         213.05            852.2                4
WY    2015.0           252.0        990.237          9902.37               10
      2016.0           253.0    3399.723333         10199.17                3
      2017.0           254.0              0                0                1
      2020.0           255.0              0                0                1

                 h2a_violtn_cnt  total_employment   backwages
st_cd ld_dt_year
AL    2015.0                177               242   18.731089
      2016.0                 13               154    0.000000
      2017.0                 25                88  240.716000
      2018.0                 84               132    3.500556
      2019.0                 35               159   76.635306
...                         ...               ...         ...
WV    2020.0                 23                24    9.263043
WY    2015.0                111                10    8.921054
      2016.0                 24                 2  141.655139
      2017.0                  1                 1    0.000000
      2020.0                  2                 1    0.000000

[256 rows x 7 columns]

In [5]:
cmp_regression_data = cmp_data.set_index(["st_cd", "ld_dt_year"])
cmp_regression_data["cmp_amount"] = [float(cmp_regression_data.h2a_cmp_assd_amt.iloc[i])/float(cmp_regression_data.h2a_violtn_cnt.iloc[i]) for i in range(len(cmp_regression_data.index))]
cmp_regression_data["total_employment"] = [int(cmp_regression_data.total_employment.iloc[i]) for i in range(len(cmp_regression_data.total_employment))]
cmp_regression_data

                  Unnamed: 0 h2a_cmp_assd_amt h2a_cmp_assd_amt.1  \
st_cd ld_dt_year
AL    2015.0             0.0      3547.272727              39020
      2016.0             1.0      1371.428571               9600
      2017.0             2.0             4500              18000
      2018.0             3.0             4200              25200
      2019.0             4.0      1699.371429            11895.6
...                      ...              ...                ...
WV    2020.0           251.0         4224.425            16897.7
WY    2015.0           252.0             7795              77950
      2016.0           253.0             1500               4500
      2017.0           254.0              900                900
      2020.0           255.0                0                  0

                 h2a_cmp_assd_amt.2 h2a_violtn_cnt  total_employment  \
st_cd ld_dt_year
AL    2015.0                     11            177               242
      2016.0                      7             13               154
      2017.0                      4             25                88
      2018.0                      6             84               132
      2019.0                      7             35               159
...                             ...            ...               ...
WV    2020.0                      4             23                24
WY    2015.0                     10            111                10
      2016.0                      3             24                 2
      2017.0                      1              1                 1
      2020.0                      1              2                 1

                  cmp_amount
st_cd ld_dt_year
AL    2015.0       20.041089
      2016.0      105.494505
      2017.0      180.000000
      2018.0       50.000000
      2019.0       48.553469
...                      ...
WV    2020.0      183.670652
WY    2015.0       70.225225
      2016.0       62.500000
      2017.0      900.000000
      2020.0        0.000000

[256 rows x 7 columns]

In [14]:
from linearmodels import PanelOLS
mod1 = PanelOLS(bw_regression_data.backwages, bw_regression_data.total_employment, time_effects=True, entity_effects=True)
mod1fit = mod1.fit()
print(mod1fit)
print(mod1fit.summary.as_latex())

mod2 = PanelOLS(cmp_regression_data.cmp_amount, cmp_regression_data.total_employment, time_effects=True, entity_effects=True)
mod2fit = mod2.fit()
print(mod2fit)
print(mod1fit.summary.as_latex())

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:              backwages   R-squared:                        0.0009
Estimator:                   PanelOLS   R-squared (Between):              0.0045
No. Observations:                 256   R-squared (Within):              -0.0027
Date:                Sun, Jun 06 2021   R-squared (Overall):             -0.0006
Time:                        17:04:15   Log-likelihood                   -1848.3
Cov. Estimator:            Unadjusted
                                        F-statistic:                      0.1764
Entities:                          50   P-value                           0.6750
Avg Obs:                       5.1200   Distribution:                   F(1,200)
Min Obs:                       1.0000
Max Obs:                       6.0000   F-statistic (robust):             0.1764
                                        P-value                           0.6750
Time periods:                       6   Distribution:                   F(1,200)
Avg Obs:                       42.667
Min Obs:                       36.000
Max Obs:                       48.000

                                Parameter Estimates
====================================================================================
                  Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------
total_employment     0.0119     0.0282     0.4199     0.6750     -0.0438      0.0675
====================================================================================

F-test for Poolability: 1.2142
P-value: 0.1708
Distribution: F(54,200)

Included effects: Entity, Time
\begin{center}
\begin{tabular}{lclc}
\toprule
\textbf{Dep. Variable:}    &     backwages      & \textbf{  R-squared:         }   &      0.0009      \\
\textbf{Estimator:}        &      PanelOLS      & \textbf{  R-squared (Between):}  &      0.0045      \\
\textbf{No. Observations:} &        256         & \textbf{  R-squared (Within):}   &     -0.0027      \\
\textbf{Date:}             &  Sun, Jun 06 2021  & \textbf{  R-squared (Overall):}  &     -0.0006      \\
\textbf{Time:}             &      17:04:15      & \textbf{  Log-likelihood     }   &     -1848.3      \\
\textbf{Cov. Estimator:}   &     Unadjusted     & \textbf{                     }   &                  \\
\textbf{}                  &                    & \textbf{  F-statistic:       }   &      0.1764      \\
\textbf{Entities:}         &         50         & \textbf{  P-value            }   &      0.6750      \\
\textbf{Avg Obs:}          &       5.1200       & \textbf{  Distribution:      }   &     F(1,200)     \\
\textbf{Min Obs:}          &       1.0000       & \textbf{                     }   &                  \\
\textbf{Max Obs:}          &       6.0000       & \textbf{  F-statistic (robust):} &      0.1764      \\
\textbf{}                  &                    & \textbf{  P-value            }   &      0.6750      \\
\textbf{Time periods:}     &         6          & \textbf{  Distribution:      }   &     F(1,200)     \\
\textbf{Avg Obs:}          &       42.667       & \textbf{                     }   &                  \\
\textbf{Min Obs:}          &       36.000       & \textbf{                     }   &                  \\
\textbf{Max Obs:}          &       48.000       & \textbf{                     }   &                  \\
\bottomrule
\end{tabular}
\begin{tabular}{lcccccc}
                           & \textbf{Parameter} & \textbf{Std. Err.} & \textbf{T-stat} & \textbf{P-value} & \textbf{Lower CI} & \textbf{Upper CI}  \\
\midrule
\textbf{total\_employment} &       0.0119       &       0.0282       &      0.4199     &      0.6750      &      -0.0438      &       0.0675       \\
\bottomrule
\end{tabular}
%\caption{PanelOLS Estimation Summary}
\end{center}

F-test for Poolability: 1.2142 \newline
 P-value: 0.1708 \newline
 Distribution: F(54,200) \newline
  \newline
 Included effects: Entity, Time
                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:             cmp_amount   R-squared:                        0.0081
Estimator:                   PanelOLS   R-squared (Between):              0.0038
No. Observations:                 256   R-squared (Within):              -0.0157
Date:                Sun, Jun 06 2021   R-squared (Overall):             -0.0063
Time:                        17:04:15   Log-likelihood                   -1776.3
Cov. Estimator:            Unadjusted
                                        F-statistic:                      1.6427
Entities:                          50   P-value                           0.2014
Avg Obs:                       5.1200   Distribution:                   F(1,200)
Min Obs:                       1.0000
Max Obs:                       6.0000   F-statistic (robust):             1.6427
                                        P-value                           0.2014
Time periods:                       6   Distribution:                   F(1,200)
Avg Obs:                       42.667
Min Obs:                       36.000
Max Obs:                       48.000

                                Parameter Estimates
====================================================================================
                  Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------
total_employment     0.0273     0.0213     1.2817     0.2014     -0.0147      0.0694
====================================================================================

F-test for Poolability: 2.2824
P-value: 0.0000
Distribution: F(54,200)

Included effects: Entity, Time
\begin{center}
\begin{tabular}{lclc}
\toprule
\textbf{Dep. Variable:}    &     backwages      & \textbf{  R-squared:         }   &      0.0009      \\
\textbf{Estimator:}        &      PanelOLS      & \textbf{  R-squared (Between):}  &      0.0045      \\
\textbf{No. Observations:} &        256         & \textbf{  R-squared (Within):}   &     -0.0027      \\
\textbf{Date:}             &  Sun, Jun 06 2021  & \textbf{  R-squared (Overall):}  &     -0.0006      \\
\textbf{Time:}             &      17:04:15      & \textbf{  Log-likelihood     }   &     -1848.3      \\
\textbf{Cov. Estimator:}   &     Unadjusted     & \textbf{                     }   &                  \\
\textbf{}                  &                    & \textbf{  F-statistic:       }   &      0.1764      \\
\textbf{Entities:}         &         50         & \textbf{  P-value            }   &      0.6750      \\
\textbf{Avg Obs:}          &       5.1200       & \textbf{  Distribution:      }   &     F(1,200)     \\
\textbf{Min Obs:}          &       1.0000       & \textbf{                     }   &                  \\
\textbf{Max Obs:}          &       6.0000       & \textbf{  F-statistic (robust):} &      0.1764      \\
\textbf{}                  &                    & \textbf{  P-value            }   &      0.6750      \\
\textbf{Time periods:}     &         6          & \textbf{  Distribution:      }   &     F(1,200)     \\
\textbf{Avg Obs:}          &       42.667       & \textbf{                     }   &                  \\
\textbf{Min Obs:}          &       36.000       & \textbf{                     }   &                  \\
\textbf{Max Obs:}          &       48.000       & \textbf{                     }   &                  \\
\bottomrule
\end{tabular}
\begin{tabular}{lcccccc}
                           & \textbf{Parameter} & \textbf{Std. Err.} & \textbf{T-stat} & \textbf{P-value} & \textbf{Lower CI} & \textbf{Upper CI}  \\
\midrule
\textbf{total\_employment} &       0.0119       &       0.0282       &      0.4199     &      0.6750      &      -0.0438      &       0.0675       \\
\bottomrule
\end{tabular}
%\caption{PanelOLS Estimation Summary}
\end{center}

F-test for Poolability: 1.2142 \newline
 P-value: 0.1708 \newline
 Distribution: F(54,200) \newline
  \newline
 Included effects: Entity, Time